@tailwind base;
@tailwind components;
@tailwind utilities;


/* NOTES
From logo
purple        #c594cc
cyan          #69e7f5
turquoise     #76dcde
green         #afe9d0
cream         #f0e2d7
pink          #e6d7ee

https://coolors.co/c594cc-1698e9-258faf-39afb9-eaba5d-fea3d3
--wisteria: #c594ccff;
--celestial-blue: #1698e9ff;
--bondi-blue: #258fafff;
--verdigris: #39afb9ff;
--hunyadi-yellow: #eaba5dff;
--carnation-pink: #fea3d3ff;

*/
:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.about-bio-stripe {
  background: linear-gradient(to bottom, white,
  white 25%,
  rgb(254, 163, 211, .5) 25%,
  rgb(254, 163, 211, .5) 80%,
  white 80%,
  white
  );
}

.debug {
  border-style: solid;
  border-width: 2px;
}

.debug-1 {
  border-color: rgb(105, 231, 245);
  background-color: rgb(223, 248, 255);
}

.debug-2 {
  border-color: rgb(197, 148, 204);
  background-color: rgb(230, 215, 238);
}

.debug-3 {
  border-color: rgb(16, 167, 112);
  background-color: rgb(175, 233, 208);
}